
.taskInput-topLeft{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
}

.taskInput-close{
    width: 32px;
    height: 32px;
    padding: 8px;
    background: rgba(199, 234, 26, 0.2);
    border-radius: 40px;
    background-image: url('public/images/taskInput-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:50%;
}

.taskInput-btnArea{
    width: 240px;
    height: 100px;;
}


#taskInput-main{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		width: 90%;
		height: 240px;
		background-color: #272727;
		border: 1px solid rgba(255, 255, 255, 0.59);
		border-radius: 8px;
	}
	
	#taskRow{
	 display: flex;
	 height: 50%;
	 flex-direction: row;
	 width: 100%;
	}

	#taskInput-btnArea{
		display: flex;
		flex-direction: column;
		width: 20%;
	}
     #taskInput-textarea{
		font-size: 22px;
		padding-left: 8px;
		width: 100%;
		background: #19171C;	
		border: 0px;
		outline: none;
 	 	background: none;
   }

    #taskInput-input{
	font-size: 24px;
    font-weight: 700;
	width: 80%;
	height: 20px;
	border: 0px;
  	outline: none;
	background: none;
   }
